@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('./scroll-bar.css');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #181818;
    color: #fff;
    overflow: auto;

}
.phoneview{
    display: none;
}
/*
    #Nav Fonts
*/
.header ul{
    list-style: none;
}
.header ul li {
    font-size: 17px;
    padding: 5px 20px;
    transition: transform 0.5s;
}
.header ul li:hover{
    transform: translate(0px , -3px);
}

.header ul li a{
    text-decoration: none;
    color: #cccccc73;
    transition: color 0.5s;

}
.header ul li a:hover{
    color: #ff7b39;
    text-decoration: underline;
}
.header ul button a{
    color: #fff;
    text-decoration: none;
}
.header ul button{
    padding: .3rem .5rem;
    border: 0px;
    border-radius: 5px;
    background-color: #6495ED;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.5s;
}
.header ul button:hover{
    padding: .4rem .7rem;
    text-shadow: 0 0 12px #fff;
    background-color: #0d4797;
}
li.Home{
    background-color: #0c0c0c79;
    border-radius: 5px;
}

/*
    #Header position
*/
#wrapper{
    display: flex;
    flex-direction: column;
}
.header{
    z-index: 10;
    background-color: #181818;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 12px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 5;
}
.navigation{
    flex: 5;
    padding: 0 2rem;
}
.navigation .navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
    #About Section
*/
#about{
    z-index: 0;
    display: flex;
    flex-direction: row;
    height: 60vh;
    box-shadow: 0 0 10px black;
}
/* 
        -- Left --
*/
.left{
    flex: 5;
}
.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url(../images/background.jpg);
}
.contentContainer{
    background-color: #cccccc28;
    backdrop-filter: blur(4px);
}
.showcontent p{
    font-size: 35px;
    padding: 4rem;
    text-align: center;
}
.showcontent a button{
    font-size: 17px;
    font-weight: 500;
    padding: 7px; color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s;
}
.showcontent a button:hover{
    transform: translate(3px);
    color: #ff7b39;
    border: 1px solid #ff7b39;

}
/*
        -- Right --
*/
.right{
    flex: 5;
}
.textContainer{
    padding: 0 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textContainer .text h1{
    font-size: 60px;
}
.textContainer .text p{
    padding-top: 7px;
    font-size: 16px;
}

/*
    #Topics
*/
#topics{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#topics a {
    color: #fff;
    text-decoration: none;
}
.topicsContainer{
    border-top: 1px solid cyan;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.topicsContainer img{
    transition: all 0.3s;
    cursor: pointer;
}
.topicsContainer ul{
    list-style: none;
    padding: .6rem 1rem;
    font-size: 16px;
}
.topicsContainer ul li{
    padding-top: 5px;
}
.topicsContainer img{
    margin: 0 18%;
    border-radius: 48%;
    box-shadow: 0 0 12px black;
}
.topicsContainer h2{
    font-size: 25px;
    padding: 10px;
}
.maths, .chemistry, .physics, .computerScience{
    width: 220px;
    margin-bottom: 20px;
    padding-top: 4px;
    background-color: #0c0c0c98;
    box-shadow: 0 0 12px black;
    padding-bottom: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*
    #BAC
*/
#bac{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}
#bac .matters{
    border-top: 1px solid cyan;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
#bac .matters button{
    margin: 20px;
    padding: 7px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
}
#bac .matters button:hover{
    padding: 15px;
}
.exams{
    border-top: 1px solid cyan;
}

/*
    #Quantum
*/
#quantum{
    z-index: -2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#quantum .container{
    border-top: 1px solid cyan;

}
/*
    Footer
*/
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: .8rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
#main-footer a{
    text-decoration: underline;
    color: #f96816;
}
/*
    Phone View
*/
@media (max-width:900px){
    .header ul li{
        display: none;
    }
    .header ul button{
        font-size: 14px;
    }
    .header img{
        width: 320px;
    }
    .navigation{
        padding: 0px;
    }
    #about{
        flex-direction: column;
        height: 700px;
    }
    .showcontent p{
        font-size: 25px;
        padding: .7rem;
        text-align: center;
    }
    .left{
        height: 50%;
    }
    .textContainer .text h1{
        font-size: 40px;
    }
    #bac{
        height: 1000px;
    }
    #bac .container{
        height: 500px;
    }
    #bac .container .matters{
        width: 80%;
    }
    .topicsContainer {
        flex-direction: column;
    }
    
    .matters{
        flex-direction: column;

    }
    .maths, .chemistry, .physics, .computerScience{
        padding-left: 2rem;
        padding-right: 2rem;
        width: 260px;
    }
    .topicsContainer img{
        padding-top: 3px;
        margin: 0 30px;
        height: 100px;
        width: 50%;
    }

}
@media (max-width:400px){
    #about{
        height: 400px;
    }
    #about .left{
        display: none;
    }
    #about .left .textContainer{
        padding: 0 2rem;
    }
}
