/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3185FC; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3185fc57; 
  }