footer{
    width: 100%;
    height: 100px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer p{
    color: #fff;
    font-size: 18px;
    margin: 10px;
  }
  footer a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  footer a:hover{
    color: #DC143C;
    text-decoration: underline;
  }